#container {
    background-color: #F9F5EC;
    max-width: 1920px;
    margin: auto;
    font-family: 'Epilogue', sans-serif;
}

/* Header */
#bg1 {
    background-image: url("../images/abtbg.png");
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bgcon {
    padding: 10.3% 16%;
}

#bgcon h1 {
    font-size: 4.75vw;
    font-weight: bold;
}

/* AboutUs */
.content {
    display: flex;
    margin: 5% 12%;
}

#abtcon {
    margin-top: 2.5%;
    text-align: justify;
    position: relative;
    max-width: 80%;
    margin-right: 8%;
}

#abtcon h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 5%;
}

#abtcon p {
    color: #6B6B6B;
    font-weight: 550;
    font-size: 1vw;
    margin-bottom: 4.5%;
}

#abtimg {
    width: 80%;
    margin-top: 2.5%;
}

#abtimg img {
    width: 100%;
}

/* Our Mission */
.mission {
    background-color: #0E1317;
    padding: 0 7.5%;
}

.mtxt {
    margin: 0 10%;
    padding-top: 5%;
    text-align: center;
}

.mtxt h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 1.5%;
}

.mimgbox {
    display: flex;
    justify-content: center;
}

.mimg {
    width: 25%;
    margin: 2.5%;
}

.mimg img {
    width: 100%;
    border-radius: 15px;
}

.mimg h2 {
    color: #C09863;
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
}

.mimg p {
    color: white;
    text-align: center;
    font-size: 1vw;
}

hr.new1 {
    border-top: 1px solid white;
    max-width: 90%;
    margin: auto;
}

.vtitle{
    color: white;
    font-weight: bold;
    margin-bottom: 1.5%;
    text-align: center;
    padding: 5% 0% 10%;
}

/* Our Chef */
.ourchef {
    padding: 0 7.5%;
}

.ctxt {
    margin: 0 10%;
    padding-top: 4%;
    text-align: center;
}

.ctxt h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 1.5%;
}

.ctxt p {
    color: black;
    font-weight: 550;
    font-size: 1vw;
}

.cimgbox {
    display: flex;
    justify-content: center;
}

.cimg {
    width: 25%;
    margin: 2.5%;
}

.cimg img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 10px #aaaaaa;
}

.cimg h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
}

.cimg p{
    font-weight: bold;
    opacity: 70%;
    text-align: center;
    font-size: 1vw;
}