#container {
    background-color: #F9F5EC;
    max-width: 1920px;
    margin: auto;
    font-family: 'Epilogue', sans-serif;
}

/* Buttons Section */
button {
    border: none;
    color: white;
    background-color: #C09863;
    background-image: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 210%;
    background-position: 0%;
    transition: ease-out 0.5s;
    align-items: center;
    text-align: center;
}

/* Navigation Bar */
#logo1 {
    width: 12%;
}

#logo1 img {
    width: 100%;
}

.bookbtn {
    width: 8.5%;
    padding: 0.75% 0 0.65% 0;
    border-radius: 10px;
    font-size: 0.7vw;
    font-weight: bold;
}

.bookbtn:hover {
    color: #C09863;
    background-position: 100%;
}

.navbar .navbar-nav .nav-link {
    font-size: 1vw;
    font-weight: bold;
    transition: ease-out 0.2s;
}

.navbar .navbar-nav .nav-link:hover {
    color: #C09863;
    transform: scale(1.1);
}

.dropdown .dropdown-item {
    font-size: 1vw;
    color: white;
}

.dropdown .dropdown-item:hover {
    background-color: #C09863;
    color: black;

}

/* Header */
#bg1 {
    background-image: url("../images/abtbg.png");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

#bgcon {
    padding: 10.3% 16%;
}

#bgcon h1 {
    font-size: 4.75vw;
    font-weight: bold;
}

/* AboutUs */
.content {
    display: flex;
    margin: 5% 12%;
}

#abtcon {
    margin-top: 2.5%;
    text-align: justify;
    position: relative;
    max-width: 80%;
    margin-right: 8%;
}

#abtcon h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 5%;
}

#abtcon p {
    color: #000;
    font-weight: 550;
    font-size: 1vw;
    margin-bottom: 4.5%;
}

#abtimg {
    width: 80%;
    margin-top: 2.5%;
}

#abtimg img {
    width: 100%;
}

/* Our Mission */
.mission {
    background-color: #0E1317;
    padding: 0 7.5%;
}

.mtxt {
    margin: 0 10%;
    padding-top: 5%;
    text-align: center;
}

.mtxt h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 1.5%;
}

.mimgbox {
    display: flex;
    justify-content: center;
}

.mimg {
    width: 25%;
    margin: 2.5%;
}

.mimg img {
    width: 100%;
    border-radius: 15px;
}

.mimg h2 {
    color: #C09863;
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
}

.mimg p {
    color: white;
    text-align: center;
    font-size: 1vw;
}

hr.new1 {
    border-top: 1px solid white;
    max-width: 90%;
    margin: auto;
}

.vtitle {
    color: white;
    font-weight: bold;
    margin-bottom: 1.5%;
    text-align: center;
    padding: 5% 0% 10%;
}

/* Our Chef */
.ourchef {
    padding: 0 7.5%;
}

.ctxt {
    margin: 0 10%;
    padding-top: 4%;
    text-align: center;
}

.ctxt h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 1.5%;
}

.ctxt p {
    color: black;
    font-weight: 550;
    font-size: 1vw;
}

.cimgbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cimg {
    flex: 1 0 25%;
    min-height: 25vh;
    margin: 2.5%;
}

.cimg img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 10px #aaaaaa;
}

.cimg h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
}

.cimg p {
    font-weight: bold;
    opacity: 70%;
    text-align: center;
    font-size: 1vw;
}

/* Banner */
.banner2 {
    background-image: url("../images/hspecialbg.png");
    padding: 2% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.banner2 p {
    color: #C09863;
    font-size: 1.5vw;
    font-weight: bold;
}

.banner2 h1 {
    font-size: 3.25vw;
    font-weight: bold;
}

.specialbtn {
    width: 10%;
    padding: 0.9% 0 0.75% 0;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 0.8vw;
    font-weight: bold;
}

.specialbtn:hover {
    color: #C09863;
    background-position: 100%;
}

/* Footer */
.tyfooter {
    display: flex;
    background-color: #0E1317;
    padding: 2% 5%;
}

.tyflogo {
    width: 15%;
    margin-right: 10%;
}

.ftitle {
    color: white;
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 3%;
    padding-top: 3%;
}

.whours {
    width: 30%;
}

.whours h3 {
    color: white;
    font-weight: bold;
    font-size: 1.1vw;
    margin: 2% 0 0.5% 0;
}

.whours p {
    color: #C09863;
    font-size: 1.1vw;
    margin: 0.5% 0 2% 0;
}

.whours h4 {
    color: #EF6D58;
    font-weight: bold;
    font-size: 1.1vw;
}

.fcontent {
    flex-direction: column;
    width: 30%;
}

.fcontent a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

.fcontent a:hover {
    opacity: 0.8;
}

.fc {
    color: #ffffff;
}

.social-icons {
    width: 15%;

}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #C09863;
    color: #fff;
    border-radius: 100%;
    margin-top: 1%;
    margin-right: 0.5rem;
    text-decoration: none;
}

.social-icons .social-icon a {
    color: #bd5d38;
    text-decoration: underline;
}

.social-icons .social-icon a:hover {
    opacity: 0.8;
}

/* Tablet */
@media screen and (max-width: 834px) and (min-width: 450px) {

    /* Navigation Bar */
    #logo1 {
        width: 20%;
    }

    .bookbtn {
        display: none;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1.75vw;
    }

    .dropdown .dropdown-item {
        font-size: 1.75vw;
    }

    /* Header */
    #bgcon {
        padding: 18% 10% 12%;
    }

    /* AboutUs */
    .content {
        flex-direction: column;
        margin: 5% 10%;
    }

    #abtcon {
        max-width: 100%;
        margin-right: 0%;
    }

    #abtimg {
        margin: auto;
    }

    /* Our Mission */
    .mission {
        padding: 0 10%;
    }

    .mimgbox {
        flex-wrap: wrap;
    }

    .mimg {
        width: 45%;
    }

    /* Our Chef */
    .ourchef {
        padding: 0 10%;
    }

    .cimg {
        flex: 1 0 30%;
    }

    /* Banner */
    .specialbtn {
        width: 16.8%;
        font-size: 1.5vw;
        padding: 1.45% 0 1% 0;
    }

    .tyfooter {
        flex-wrap: wrap;
    }

    .tyflogo {
        width: 30%;
    }

    .whours {
        width: 50%;
        margin-left: 10%;
    }

    .ftitle {
        font-size: 3.5vw;
    }

    .whours h3 {
        font-size: 2.2vw;
    }

    .whours p {
        font-size: 2.2vw;
    }

    .whours h4 {
        font-size: 2.2vw;
    }

    .fcontent {
        width: 50%;
        padding-left: 1%;
    }

    .fcontent a {
        font-size: 2.2vw;
    }

    .social-icons {
        width: 50%;
        padding-top: 3%;
    }

    .social-icons .social-icon {
        width: 15%;
        height: 28%;
    }
}

/* Mobile */
@media screen and (max-width: 450px) {

    /* Navigation bar */
    #logo1 {
        width: 40%;
    }

    .bookbtn {
        display: none;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 4vw;
    }

    .dropdown .dropdown-item {
        font-size: 4vw;
    }

    /* Header */
    #bg1 {
        background-size: cover;
        height: 30vh;
    }

    #bgcon {
        padding: 30% 16%;
    }

    #bgcon h1 {
        font-size: 7vw;
    }


    /* AboutUs */
    .content {
        flex-direction: column;
        margin: 5% 10%;
    }

    #abtcon {
        max-width: 100%;
        margin-right: 0%;
    }

    #abtcon p {
        font-weight: unset;
        font-size: 4vw;
        margin-bottom: 20%;
    }

    #abtimg {
        margin: auto;
    }


    /* Our Mission */
    .mission {
        padding: 0 10%;
    }

    .mimgbox {
        flex-wrap: wrap;
    }

    .mimg {
        width: 100%;
    }

    .mimg h2 {
        font-size: 5vw;
    }

    .mimg p {
        font-size: 4vw;
    }

    .vtitle {
        font-size: 6vw;
    }

    /* Our Chef */
    .ctxt p {
        font-size: 4vw;
    }

    .ourchef {
        padding: 0 10%;
    }

    .cimg {
        flex: 1 0 50%;
    }

    .cimg h2 {
        font-size: 4.5vw;
    }

    .cimg p {
        font-size: 4vw;
    }

    /* Banner */
    .banner2 {
        text-align: center;
    }

    .banner2 h1 {
        font-size: 7vw;
    }

    .banner2 p {
        font-size: 5vw;
    }

    .specialbtn {
        width: 32%;
        font-size: 3vw;
        padding: 3% 0 1.75% 0;
    }

    /* Footer */
    .tyfooter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tyflogo {
        width: 70%;
        margin: 5% 0;
    }

    .whours {
        width: 80%;
        text-align: center;
        margin-bottom: 5%;
    }

    .ftitle {
        font-size: 7vw;
    }

    .whours h3 {
        font-size: 4.5vw;
    }

    .whours p {
        font-size: 4.5vw;
    }

    .whours h4 {
        font-size: 4.5vw;
    }

    .fcontent {
        width: 80%;
        text-align: center;
    }

    .fcontent a {
        font-size: 4.5vw;
    }

    .social-icons {
        width: 80%;
        justify-content: center;
    }

    .social-icons .social-icon {
        height: 55px;
        width: 55px;
        justify-content: center;

    }
}