#container {
    background-color: #F9F5EC;
    max-width: 1920px;
    font-family: 'Epilogue', sans-serif;
}

/* Buttons Section */
button {
    border: none;
    color: white;
    background-color: #C09863;
    background-image: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 210%;
    background-position: 0%;
    transition: ease-out 0.5s;
    align-items: center;
    text-align: center;
}

/* Navigation Bar */
#nav {
    font-weight: bold;
}

#logo1 {
    width: 15%;
}

#logo1 img {
    width: 100%;
}

.nav-item:hover {
    color: #C09863;
}

.bookbtn {
    width: 8%;
    padding: 0.8% 0 0.55% 0;
    border-radius: 10px;
    font-size: 0.8vw;
    font-weight: bold;
}

.bookbtn:hover {
    color: #C09863;
    background-position: 100%;
}

/* Contents */
.carousel-control-width {
    width: 5%;
}

.bg1 {
    background-image: url("../images/bg1.png");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8.3% 10%;
}

.bg2 {
    background-image: url("../images/bg2.png");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8.3% 10%;
}

.bg3 {
    background-image: url("../images/bg3.png");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8.3% 10%;
}

.bgcon h2 {
    font-size: 2.75vw;
    font-weight: bold;
    margin: 2% 0 0;
}

.bgcon h1 {
    font-size: 4.75vw;
    font-weight: bold;
    margin: 3% 0;
}

.hbtn {
    width: 12%;
    padding: 0.95% 0 0.75% 0;
    border-radius: 10px;
    font-size: 0.9vw;
    font-weight: bold;
    margin: 5% 0 0;
}

.hbtn:hover {
    color: #C09863;
    background-position: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 30px;
}

/* About Us */
.abt {
    margin: 5% 14%;
}

#abtimg {
    width: 80%;
    margin-right: 5%;
}

#abtimg img {
    width: 100%;
    border-radius: 15px;
}

#abtcon {
    width: 120%;
    margin-top: 2.5%;
    text-align: justify;
    position: relative;
}

#abtcon h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 2.2vw;
}

#abtcon p {
    /* font-weight: 550; */
    font-size: 1vw;
    margin-bottom: 4.5%;
}

.rbtn1 {
    position: absolute;
    bottom: 5%;
    right: 0%;
    width: 18%;
    padding: 1.6% 0 1.1% 0;
    border-radius: 10px;
    font-size: 0.8vw;
    font-weight: bold;
    margin: 0 3% 0 0;
}

.rbtn1:hover {
    color: #C09863;
    background-position: 100%;
    border: solid #C09863 1.5px;
}

/* Special */
.hspecial {
    background-image: url("../images/hspecialbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 5%;
}

.hspecial h1 {
    font-size: 4.75vw;
    font-weight: bold;
}

.hspecial p {
    font-size: 1.5vw;
}

.specialbtn {
    width: 10%;
    padding: 0.9% 0 0.75% 0;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 0.8vw;
    font-weight: bold;
}

.specialbtn:hover {
    color: #C09863;
    background-position: 100%;
}

/* Our Menu */
.ourmenu {
    margin: 5% 7.5%;
}

.ourmenu h1 {
    color: #C09863;
    font-weight: bold;
    font-size: 2.2vw;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

.imgbox {
    position: relative;
    width: 25%;
    margin: 0 2.5%;
    border-radius: 10px;
}

.menuimg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.menuimg img {
    width: 100%;
    box-shadow: 10px 10px 15px #aaaaaa;
}

.txtmiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imgbox:hover .txtmiddle {
    opacity: 0.75;

}

.menutxt {
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

/* Our Menu Tablet and Mobile*/
.ourmenu2 {
    display: none;
}

/* Our Services */
.services {
    background-color: #0E1317;
    padding: 0 7.5%;
}

.stxt {
    margin: 0 10%;
    padding-top: 5%;
    text-align: center;
}

.stxt h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 1.5%;
    font-size: 2.2vw;
}

.stxt p {
    color: #C09863;
    font-weight: 550;
    font-size: 1vw;
}

.simgbox {
    display: flex;
    justify-content: center;
}

.simg {
    width: 25%;
    margin: 2.5% 2.5% 1.5%;
}

.simg img {
    width: 100%;
    border-radius: 15px;
}

.simg h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
}

.sbtn {
    width: 11.5%;
    padding: 0.85% 0 0.65% 0;
    border-radius: 10px;
    font-size: 0.85vw;
    font-weight: bold;
    margin: 0 0 3%;
}

.sbtn:hover {
    background-position: 100%;
    color: #C09863;
}

/* Our Chef */
.ourchef {
    padding: 0 7.5%;
}

.ctxt {
    margin: 0 10%;
    padding-top: 4%;
    text-align: center;
}

.ctxt h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 1.5%;
    font-size: 2.2vw;
}

.ctxt p {
    color: black;
    font-weight: 550;
    font-size: 1vw;
}

.cimgbox {
    display: flex;
    justify-content: center;
}

.cimg {
    width: 25%;
    margin: 2.5%;
}

.cimg img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 10px #aaaaaa;
}

.cimg h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.4vw;
}

.cimg p {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1% 0;
    opacity: 0.7;
}

/* Gallery */
.gallery {
    background-color: #0E1317;
    padding: 0 7.5% 3% 7.5%;
}

.gtxt {
    margin: 0 10%;
    padding-top: 4%;
    text-align: center;
}

.gtxt h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 1.5%;
    font-size: 2.2vw;
}

.gimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% 5.6% 0.5%;
}

.gimg img {
    width: 100%;
}

.gimg1 {
    width: 30%;
    margin: 0 2%;
}

.gimgcenter {
    width: 32%;
}


/* Blog */
.blogs {
    padding: 0 10%;
}

.ctxt {
    margin: 0 10%;
    padding-top: 4%;
    text-align: center;
}

.ctxt h1 {
    color: #C09863;
    font-weight: bold;
    margin-bottom: 1.5%;
    font-size: 2.2vw;
}

.bimgbox {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2.5% 2.6% 5% 2.6%;
}

.bbox1 {
    width: 30%;
    margin: 0 1.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 20px #aaaaaa;
}

.bbox1:hover {
    opacity: 0.85;
}

.bimg img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.btxt {
    padding: 0 4.5%;
}

.btxt h4 {
    /* font-weight: bold; */
    font-size: 0.7vw;
    margin: 5% 0 2% 0;
    color: #C09863;
}

.btxt h2 {
    font-weight: bold;
    font-size: 1.1vw;
}

.btxt p {
    font-size: 0.85vw;
}

/* Banner */
.banner2 {
    background-image: url("../images/hspecialbg.png");
    padding: 2% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.banner2 p {
    color: #C09863;
    font-size: 1.5vw;
}

.banner2 h1 {
    font-size: 3.25vw;
    font-weight: bold;
}

/* Footer */
.tyfooter {
    display: flex;
    background-color: #0E1317;
    padding: 2% 5%;
}

.tyflogo {
    width: 15%;
    margin-right: 10%;
}

.ftitle {
    color: white;
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 3%;
    padding-top: 3%;
}

.whours {
    width: 30%;
}

.whours h3 {
    color: white;
    font-weight: bold;
    font-size: 1.1vw;
    margin: 2% 0 0.5% 0;
}

.whours p {
    color: #C09863;
    font-size: 1.1vw;
    margin: 0.5% 0 2% 0;
}

.whours h4 {
    color: #EF6D58;
    font-weight: bold;
    font-size: 1.1vw;
}

.fcontent {
    flex-direction: column;
    width: 30%;
}

.fcontent a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

.fcontent a:hover {
    opacity: 0.8;
}

.fc {
    color: #ffffff;
}

.social-icons {
    width: 15%;

}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    height: 22%;
    background-color: #C09863;
    color: #fff;
    border-radius: 100%;
    margin-top: 1%;
    margin-right: 0.5rem;
    text-decoration: none;
}

.social-icons .social-icon a {
    color: #bd5d38;
    text-decoration: underline;
}

.social-icons .social-icon a:hover {
    opacity: 0.8;
}